---
version: "{build}"
clone_depth: 10
install:
  - SET PATH=C:\Ruby%ruby_version%\bin;%PATH%
  - ruby --version
  - gem --version
  - gem install bundler --quiet --no-ri --no-rdoc
  - bundler --version
  - bundle install
build_script:
  - bundle exec rake build
test_script:
  - bundle exec rake spec
environment:
  matrix:
    - ruby_version: "22"
